.pth_country{
    .pth_label{
        float: left;
        width: 41%;
        label{
            color: #84bd00;
            font-weight: 500;
            &:hover{
                color: #425700;
            }
        }
    }

    .pth_select{
        .content{
            cursor: pointer;
            min-height: auto;
        }
        .container .image{
            width: 24px;
            height: 14px;
        }

        .dditem, .current{
            cursor: pointer;
        }

        .current{
            &:hover{
                border-color: #777777!important;
            }
        }
    }

}